<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eclairios.CrossComps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task"
        android:usesCleartextTraffic="true">
        <activity android:name=".Teams.JoinTeamsActivity"></activity>
        <activity android:name=".Teams.WorldTeamScoreActivity" />
        <activity android:name=".Judge.Judge5bTestingScreen_Push_UpsActivity" />
        <activity android:name=".Judge.Judge5aPush_UpsActivity" />
        <activity android:name=".Judge.Judge4bTestingScreen_Leg_RaisesActivity" />
        <activity android:name=".Judge.Judge4aLeg_RaisesActivity" />
        <activity android:name=".Judge.Judge3bTesting_Screen_SquatsActivity" />
        <activity android:name=".Judge.Judge3a_SquatsActivity" />
        <activity android:name=".Judge.Judge2bTestingScreenRun_WalkActivity" />
        <activity android:name=".Judge.Judge2aRun_Walk_TestActivity" />
        <activity android:name=".Judge.JudgeHomePageParticipantRegistrationActivity" />
        <activity android:name=".ServiceCoordinator.CoordinatorServiceSummaryScreenActivity" />
        <activity android:name=".ServiceCoordinator.CoordinatorRegistration4b_4EventActivity" />
        <activity android:name=".ServiceCoordinator.CoordinatorRegistration4a_4FacilityActivity" />
        <activity android:name=".ServiceCoordinator.CoordinatorRegistration3_4Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorRegistration2b_4EventActivity" />
        <activity android:name=".ServiceCoordinator.CoordinatorServiceOrEventRegistration2a_4Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorServiceOrRegistration1_4Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorServicesScreenActivity" />
        <activity android:name=".ServiceCoordinator.CoordinatorCheck_InScreen7_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorCheck_InScreen6_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorCheck_InScreen5_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorCheck_InScreen4_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorCheck_InScreen3_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorCheck_InScreen2_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorInformedConsentScreen1b_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorMedicalClearanceScreen1a_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorCheck_InScreen1_7Activity" />
        <activity android:name=".ServiceCoordinator.CoordinatorReservationsScreenActivity" />
        <activity android:name=".ServiceCoordinator.ServiceCoordinatorHomePageActivity" />
        <activity android:name=".AffiliteTeamCaptain.CategoryTeamAlreadyMemberActivity" />
        <activity android:name=".AffiliteTeamCaptain.MembersScreenOfTeamCaptainActivity" />
        <activity android:name=".AffiliteTeamCaptain.MembersScreenOfCoCaptainsActivity" />
        <activity android:name=".AffiliteTeamCaptain.MembersScreenOfAffiliatesActivity" />
        <activity android:name=".AffiliteTeamCaptain.CoManagersScreenOfTeamCaptainActivity" />
        <activity android:name=".AffiliteTeamCaptain.CoCapatainsScreenOfCoCaptainsActivity" />
        <activity android:name=".AffiliteTeamCaptain.CoCaptainsScreenOfAffiliatesActivity" />
        <activity android:name=".AffiliteTeamCaptain.TeamChainScreenChurchActivity" />
        <activity android:name=".AffiliteTeamCaptain.MyChurchTeamJoinCreateActivity" />
        <activity android:name=".AffiliteTeamCaptain.TeamCaptainsAllTeamsActivity" />
        <activity android:name=".AffiliteTeamManager.MembersScreenOfTeamManagerActivity" />
        <activity android:name=".AffiliteTeamManager.MembersScreenOfCoManagersActivity" />
        <activity android:name=".AffiliteTeamManager.MembersScreenOfAffiliatesHomeActivity" />
        <activity android:name=".AffiliteTeamManager.CoManagerForNewHomeTeamActivity" />
        <activity android:name=".AffiliteTeamManager.BankAccountNewHomeTeamActivity" />
        <activity android:name=".AffiliteTeamManager.W9NewHomeTeamActivity" />
        <activity android:name=".AffiliteTeamManager.EditYourHomeTeamActivity" />
        <activity android:name=".AffiliteTeamCaptain.CaptainTeamMembersActivity" />
        <activity android:name=".AffiliteTeamManager.HomeTeamMemberActivity" />
        <activity android:name=".AffiliteTeamCaptain.TeamCaptainActivity" />
        <activity android:name=".AffiliteTeamManager.UserRequestCoManagersActivity" />
        <activity android:name=".AffiliteTeamManager.TeamMessageActivity" />
        <activity android:name=".AffiliteTeamManager.CoManagersActivity" />
        <activity android:name=".AffiliteTeamManager.HomeTeamActivity" />
        <activity android:name=".AffiliteTeamManager.TeamManagerActivity" />
        <activity android:name=".ExtraUnusedClasses.BecomeCrossCompAffiliateActivity" />
        <activity android:name=".CrossCompAffiliate.AffiliateDashboardActivity" />
        <activity android:name=".CrossCompAffiliate.OptiHealthPledgeActivity" />
        <activity android:name=".CrossCompAffiliate.CrossCompAffiliateAgreementActivity" />
        <activity android:name=".Profile.UpdateProfileActivity" />
        <activity android:name=".Trainings.GymPackageActivity" />
        <activity android:name=".Trainings.CertifiedCrossCompGymPaymentActivity" />
        <activity android:name=".Trainings.CertifiedCrossCompGymPurchaseActivity" />
        <activity android:name=".Trainings.GymsMapActivity" />
        <activity android:name=".Trainings.PersonalizedTrainingWeeklyExerciseLogsActivity" />
        <activity android:name=".Maps.ServiceProviderMapsActivity" />
        <activity android:name=".Trainings.PaymentActivity" />
        <activity android:name=".Trainings.MyTrainingProgramActivity" />
        <activity android:name=".Trainings.AfterFitnessConsultationActivity" />
        <activity android:name=".Trainings.HelperChatActivity" />
        <activity android:name=".Trainings.TrainingPersonalizedActivity" />
        <activity android:name=".Trainings.TrainingRecommendationsActivity" />
        <activity android:name=".ExtraUnusedClasses.TrainingMainPageActivity" />
        <activity android:name=".Challenges.IndividualTeamChallengesScreen1cActivity" />
        <activity android:name=".Challenges.IndividualTeamChallengesScreen1bActivity" />
        <activity android:name=".Challenges.IndividualTeamChallengesScreen1aActivity" />
        <activity android:name=".Challenges.CustomTeamChallengesScreen1cActivity" />
        <activity android:name=".Challenges.CustomTeamChallengesScreen1bActivity" />
        <activity android:name=".Challenges.CustomTeamChallengesScreen1aActivity" />
        <activity android:name=".Challenges.StandardTeamChallengesScreen1cActivity" />
        <activity android:name=".Challenges.StandardTeamChallengesScreen1bActivity" />
        <activity android:name=".Challenges.StandardTeamChallengesScreen1aActivity" />
        <activity android:name=".ExtraUnusedClasses.ChallengeScreen0Activity" />
        <activity android:name=".Teams.MyFundraisingTeamDetailActivity" />
        <activity android:name=".Teams.TeamsScoreActivity" />
        <activity android:name=".Teams.TeamsAccordingPostalCodeActivity" />
        <activity android:name=".ExtraUnusedClasses.AllTeamCategoryActivity" />
        <activity android:name=".ExtraUnusedClasses.ShowTimeRangeForEventActivity" />
        <activity android:name=".ExtraUnusedClasses.ShowDateForReservationActivity" />
        <activity android:name=".EventAndServices.EventCrossCompActivity" />
        <activity android:name=".EventAndServices.EventDetailActivity" />
        <activity android:name=".ExtraUnusedClasses.Location_challengeActivity" />
        <activity android:name=".ExtraUnusedClasses.Team_challengeActivity" />
        <activity android:name=".ExtraUnusedClasses.Individual_challengeActivity" />
        <activity android:name=".Adapter.ServiceName" />
        <activity android:name=".ExtraUnusedClasses.ShowAllTeams" />
        <activity android:name=".EventAndServices.CoordinatorServicePage" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfzZIAt3V2ck7R46NJ3BsbJHpPFPt2rZ0" />

        <activity android:name=".ExtraUnusedClasses.Participent" />
        <activity android:name=".ExtraUnusedClasses.OneServiceCard" />
        <activity android:name=".ExtraUnusedClasses.MorePages" />
        <activity android:name=".ExtraUnusedClasses.Profile" />
        <activity android:name=".ExtraUnusedClasses.Services" />
        <activity android:name=".ExtraUnusedClasses.Challenge" />
        <activity android:name=".ExtraUnusedClasses.TeamScore" />
        <activity android:name=".ExtraUnusedClasses.CrossCompTeams" />
        <activity android:name=".ExtraUnusedClasses.Scores" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventAndServices.CrossComp" />
        <activity android:name=".EventAndServices.Dashboard" />
        <activity android:name=".Authentication.Registration" />
        <activity android:name=".Authentication.MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>